body {
    margin: 0;
    padding: 0;
    background: linear-gradient(black, blue, black);
}

h1,
p {
    margin: 0;
    text-align: center;
    color: white;
}

tr {
    color: black;
}

.table-header,
td:first-child {
    font-size: 20px;
    font-weight: bolder;
}

table,
th,
td {
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(rgb(126, 126, 249), rgb(165, 165, 224));
    text-align: center;
    margin: auto;
    border: solid 1px black;
}

th,
td:hover {
    background: linear-gradient(blue, rgb(126, 126, 249));
    color: white;
}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: white;
    text-decoration: underline;

}


